/Subsystem1/nbproject/private/
/Subsystem1/build/
/Subsystem1/dist/
/Client/nbproject/private/
/Client/build/
/Server/target/
/Client/dist/
/Subsystem2/nbproject/private/
/Subsystem2/dist/
/Subsystem2/build/
/Subsystem3/nbproject/private/
